/* @import phải đứng trước tất cả các câu lệnh khác (ngoại trừ @charset hoặc empty @layer) */
/* khai báo sử dụng font chữ từ google */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/* khai báo tailwind cho dự án */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* sử dụng chức năng nhóm các utility CSS vào các lớp (layer) khác nhau - trong trường hợp này là lớp base */
@layer base {
    /* hai class .input-label và .input đều được đặc tả trong lớp base, giúp tổ chức và tái sử dụng mã nguồn */
    .input-label {
        @apply block pb-1 text-gray-700;
    }

    .input {
        @apply w-full rounded-full border border-gray-400 px-4 py-[3px]  outline-none focus:ring-1 focus:ring-inset focus:ring-blue-200;
    }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
